body {
    margin: 0;
    padding: 100px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-height: fit-content;
    height: 100vh;
    weight: 20px;
}

.logo {
    width: 100px;
    display: block;
    margin: 0 auto;
}

.header h1 {
    color: #000;
    font-size: 24px;
}

.header p {
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

.container {
    width: 150px;
    height: 100%;
    max-width: 2048px;
    margin: 0 auto;
    padding: 100px;
    background-color: #8ecae6;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}

.get-started-btn {
    background-color: #00b4d8;
    color: #000;
    font-weight: 300%;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
}

/* public/css/home.css */

.news-item {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
}

.news-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.news-item h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.news-item p {
    font-size: 1rem;
    margin-bottom: 5px;
}

@media (min-width: 1024px) {
    .container {
        padding: 50px;
    }

    .logo {
        width: 100px;
    }

    .header h1 {
        font-size: 30px;
    }

    .header p {
        font-size: 18px;
    }

    .get-started-btn {
        font-size: 18px;
    }
}
